@using Core.Interfaces
@model string
@{
    ViewData["Title"] = "Photo Gallery";
}
@inject IKeyGenerator _KeyGenerator
@inject IPhotoMetaData _PhotoMetaData

<h2>Photo Gallery</h2>
<div class="content">
    <div class="row">
        <div class="col-lg-12 h2">
            <a class="btn btn-danger glyphicon-plus" asp-controller="Photos" asp-action="Upload"> ADD PHOTO</a>
        </div>
    </div>
    @{
        const string root = "/PhotoStore";
        var key = _KeyGenerator.GetKey(Model);
        var photos = await _PhotoMetaData.GetUserPhotos(Model);

        while (photos.Count > 0)
        {
            <div class="row">
                @{
                    var threePhotos = photos.Take(4);
                    foreach (var photo in threePhotos)
                    {
                        <div class="col-md-3">
                            <figure class="photo-figure">
                                @{
                                    var source = $"{root}/{key}/{photo.FileName}";
                                }
                                <!-- Anchor tag links to the full-size image -->
                                <a href="@source" data-lightbox="gallery" data-title="@photo.Description">
                                    <img src="@source" class="img-thumbnail photo-img" alt="@photo.Description" />
                                </a>
                                <figcaption>@photo.Description</figcaption>
                            </figure>
                        </div>
                    }
                    var toDelete = photos.Count >= 4 ? 4 : photos.Count;
                    photos.RemoveRange(0, toDelete);
                }
            </div>
        }
    }
</div>

@* Custom CSS *@
<style>
    .photo-img {
        transition: transform 0.3s ease, opacity 0.3s ease;
        cursor: pointer; /* Make sure the pointer is a hand when hovering */
    }

        .photo-img:hover {
            opacity: 0.8;
            transform: scale(1.1);
        }

    .photo-figure {
        text-align: center;
        margin-bottom: 15px;
    }
</style>

